*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* home start */
body
{
    font-family: 'Roboto', 'Open-Sans', sans-serif;
    overflow-x: hidden;
    color: #313131;
}

.header
{

    width: 100%;
    height: 100vh;

    background: url("image/header.png") center center/cover no-repeat;

    position: relative;

}

.header::before
{

    content: "";

    position: absolute;

    inset: 0;

    background: rgba(0, 0, 0, .45);

}

.navbar
{

    position: relative;

    z-index: 10;

    padding-top: 45px;

}

.logo
{

    color: #fff !important;

    border: 1px solid rgba(255, 255, 255, .8);

    padding: 0px 16px;

    font-size: 42px;

    letter-spacing: 8px;

    font-weight: 300;

}

.navbar-nav
{

    gap: 20px;

}

.nav-link
{

    color: white !important;

    letter-spacing: 2px;

    font-size: 15px;

    padding: 14px 25px !important;

}

.nav-link.active
{

    border: 1px solid rgba(255, 255, 255, .8);

}

.hero
{

    position: relative;

    z-index: 10;

    height: 85vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    color: white;

    text-align: center;

}

.hero h1
{

    font-size: 82px;

    font-weight: 300;

    letter-spacing: 12px;

}

.hero h3
{

    margin-top: 25px;

    font-size: 26px;

    letter-spacing: 8px;

    font-weight: 300;

}

.list
{
    display: none;
}

button
{
    padding: 10px 20px;
}


.service
{
    background: #ededed;
    position: relative;
}

.container
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.service .section-title
{
    margin-top: 110px;
}

.section-title
{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.black
{
    color: #313131;
}

.service .underline
{
    margin-bottom: 75px;
}

.underline
{
    height: 2px;
    width: 50px;
    margin: 0px auto 60px;
}

.purple
{
    background: #4a148c;
}

.row
{
    margin-right: -15px;
    margin-left: -15px;
}

.service-img
{
    position: absolute;
    bottom: 0px;
}

.services
{
    margin-bottom: 100px;
}

.section-item-title
{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section-item-detail
{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
    color: #999;
    letter-spacing: .39px;
}

/* home end */

/* about page start */
/* about page end */

/* services page start */


.head
{
    background-color: #EAEAEA;
    padding: 10px 0;
}

.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link
{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 0 25px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}

.nav-link.active
{
    color: black !important;
    border: none;
}

.nav-link.active:focus
{
    border: 1px solid black;
}

.navbar ul
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    outline: none;
}

.navbar ul li
{
    list-style: none;
}

.navbar li a
{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


.bg-image
{
    background-image: url("https://themewagon.github.io/SIGHT/assets/images/services.png");
    height: 38vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.breadcrumb
{
    display: flex;
    align-items: center;
    padding-left: 210px;
    gap: 10px;
}

.breadcrumb a
{
    text-decoration: none;
    color: white;
}

.breadcrumb i
{
    color: white;
}

.services
{
    background-color: #EDEDED;
}

.services-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

.services-image img
{
    width: 300px;
}

.our-main
{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 30px;
}

.our-text-head
{
    margin-left: 60px;
    font-size: 30px !important;
    font-weight: 400;
}

.our-text-head::after
{
    content: '';
    background-color: #4A148C;
    width: 50px;
    height: 2px;
    margin-top: 10px;
    display: block;
    margin-left: 90px;
}

.our
{
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    gap: 40px;
}

.our-services
{
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 5px;
}

.our-services-text-1
{
    font-size: 20px;
    letter-spacing: 5px;
}

.our-services-text-2
{
    color: gray;
}

/* services page end */

/* portfolio page start */
/* portfolio page end */

/* contact page start */
/* contact page end */



/*! responsive design start */
/*Ramazan media start*/
@media (max-width:992px) {
    
    .services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .services-image {
        width: 300px;
        position: absolute;
        top: 0px;
        z-index: -1;
        padding: 0 10px;
        opacity: 0.2;
    }
    .our {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}
@media (max-width: 768px)
{       
    .services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .services-image {
        width: 300px;
        position: absolute;
        z-index: -1;
        bottom: 0px;
        padding: 0 10px;
        opacity: 0.2;
    }
    .our {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .breadcrumb
    {
        display: flex;
        align-items: center;
        padding-left: 50px;
        gap: 10px;
    }
}

/*Ramazan media end*/
/*! responsive design end */