* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* home start */

/* home end */

/* about page start */
/* about page end */

/* services page start */

/* services page end */

/* portfolio page start */
/* portfolio page end */

/* contact page start */
/* contact page end */


/*! responsive design start */

/*! responsive design end */